/* CSS Document */

#footer {
	background: transparent url("/images/footer/bg.jpg") repeat-x top left;
	font-size: 12px;
	}

	#footer .content {
		padding: 15px 30px;
		}

	#footer ul li {
		float: left;
		margin-right: 10px;
		}
