<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="module/Deploy/tests/Bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="godeploy">
			<directory>./module/Deploy/tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory>./module/Deploy/src/</directory>
		</whitelist>
	</filter>
</phpunit>