<phpunit bootstrap="./Bootstrap.php" colors="true">
	<testsuite name="GoDeploy Test Suite">
		<directory>./</directory>
	</testsuite>
	<filter>
		<whitelist>
			<directory suffix=".php">../library/</directory>
			<directory suffix=".php">../application/</directory>
			<exclude>
				<directory suffix=".phtml">../application/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>

