body {
    padding-top: 60px;
    padding-bottom: 40px;
}
#projects-list td {
	vertical-align: middle;
	white-space: nowrap;
}
#projects-list tr.stale td {
	background-color: #FFFBED;
}
#projects-list tr.stale:hover td {
	background-color: #FFFBC6;
}
#projects-list td.project-name {
	width: 50%;
	font-size: 20px;
}
#nav-logo {
	height: 40px;
	margin-top: -10px;
}

footer ul {
	padding: 0;
	margin: 0;
}
footer ul li:first-child {
	border-left: none;
}
footer ul li {
	display: inline;
	padding: 0 10px;
	border-left: 1px solid silver;
}

#get-latest-revision.in-progress {
	color: #8b0000;
	text-decoration: none;
	background-image: url('/image/waiting.gif');
	background-repeat: no-repeat;
	padding-left: 20px;
}
