/* CSS Document */

#deploymentSetup li.submit {
	padding: 10px 0 0 205px;
	}
	#fromRevision, #toRevision {
		width: 400px;
		}

#deploySummary {
	}
	#deploySummary label {
		font-weight: bold;
		text-align: right;
		}
	#deploySummary span.value {
		margin-left: 15px;
		}
	#deploySummary li.submit {
		padding: 10px 0 0 220px;
		}