h2 {
    padding: 20px 0 0 0;
}
div.deployments {
    background-color: #EDEDED;
    border: 1px solid #BDBDBD;
    border-radius: 5px 5px 5px 5px;
    margin: 20px auto 0 ;
    padding: 20px 20px;
    width: 900px;
}
p#no-deployments{
    padding-top: 10px;
}